node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/

# Build output
release/
dist/
out/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Env
.env
.env.local

# Git
*.orig
